<script>
    $(document).ready( function () {
    $('#historico').DataTable();
    } );
</script>

<h1>Funcionários</h1>
<hr/>
<table id="historico" class="table table-stripped table-bordered table-primary">
    <thead class="thead-light">
        <tr>
            <th>Funcionário</th>
            <th>Cliente</th>
            <th>Código da Vaga</th>
            <th>Início WA</th>
            <th>Data da Alocação</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    </tbody>
</table>
<hr/>