@model IEnumerable<Desafio_MVC.Models.Funcionario>

<div class="text-center">
    <h1 class="display-4">Gerenciador de Funcionários em WA</h1>
</div>
<img src="~/img/awimg.jpg" width="100%">
<hr/>
<a asp-action="Funcionarios" asp-controller="Aw"><button class="btn btn-primary" style="display:block;margin:0 auto;">Iniciar</button></a>
<br/>
<div class="text-center">
    <h4>O banco de dados foi populado com sucesso!</h4>
</div>