@{
    ViewData["Title"] = "Home Page";
}
<script>
    $(".btn-close").click(function(){
        $("botao").hide();
    });
</script>

<div class="text-center">
    <h1 class="display-4">Gerenciador de Funcionários em WA</h1>
</div>
<img src="~/img/awimg.jpg" width="100%">
<hr/>
<a asp-action="Funcionarios" asp-controller="Aw"><button class="btn btn-primary" style="display:block;margin:0 auto;">Iniciar</button></a>
<br/>
<a asp-action="AddDados" asp-controller="Funcionarios"><button id="botao" class="btn btn-secondary" style="display:block;margin:0 auto;">Popular Banco de Dados</button></a>
